name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install uv
        run: |
          python -m pip install --upgrade pip
          pip install uv

      - name: Create venv & install dependencies
        run: |
          uv venv
          uv sync
          uv pip install "dvc[s3]"

      - name: Configure DVC credentials (DagsHub)
        shell: bash
        env:
          DAGSHUB_TOKEN: ${{ secrets.DAGSHUB_TOKEN }}
        run: |
          set -e
          uv run dvc remote modify dagshub --local access_key_id "${DAGSHUB_TOKEN}"
          uv run dvc remote modify dagshub --local secret_access_key "${DAGSHUB_TOKEN}"

      - name: Pull DVC data
        run: |
          uv run dvc pull --force || echo "Some DVC files not found, continuing..."

      - name: Run tests
        run: |
          uv run pytest
